.app {
  max-width: 1280px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 500px;

  background-image: 
    
    url('/images/background1.jpg');

    box-shadow: 0 0 10px rgba(96, 195, 243, 0.8);

  background-size: cover;   /* 图片铺满容器 */
  background-position: center;
  background-repeat: no-repeat;
}

.gradient-def{
    background: linear-gradient(90deg, #00bfff, #ff6f61);
}

