.app {
  max-width: 1280px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 500px;

  background-image: 
    linear-gradient(180deg, rgba(240, 252, 253, 0.8) 0%, rgba(96, 195, 243, 0.8) 37%, rgba(228, 119, 167, 0.8) 100%),
    url('./assets/images/background1.jpg');

    box-shadow: 0 0 10px rgba(96, 195, 243, 0.8);

  background-size: cover;   /* 图片铺满容器 */
  background-position: center;
  background-repeat: no-repeat;
}

.gradient-def{
    background: linear-gradient(90deg, #00bfff, #ff6f61);
}

